# Java
##########
*.class
*.jar
*.war
*.ear

# Maven
##########
target/
*/target/

# Eclipse
##########
#.project
.metadata/
#.classpath
bin/
*/bin/
.settings/
*/.settings/
RemoteSystemsTempFiles/
*/RemoteSystemsTempFiles/

